%li.runner{ id: dom_id(runner) }
  %h4.gl-font-weight-normal
    = runner_status_icon(runner, size: 16, icon_class: "gl-vertical-align-middle!")

    - if @project_runners.include?(runner)
      = link_to _("%{token}...") % { token: runner.short_sha }, project_runner_path(@project, runner), class: 'commit-sha has-tooltip', title: _("Partial token for reference only")

      - if runner.locked?
        %span.has-tooltip{ title: _('Locked to current projects') }
          = sprite_icon('lock')

      = link_to edit_project_runner_path(@project, runner), class: 'btn gl-button btn-sm btn-icon', data: { testid: 'edit-runner-link' } do
        = sprite_icon('pencil')

    - else
      %span.commit-sha
        = runner.short_sha

    .float-right
      - if @project_runners.include?(runner)
        - if runner.active?
          = link_to _('Pause'), pause_project_runner_path(@project, runner), method: :post, class: 'btn gl-button btn-sm btn-danger', data: { confirm: _("Are you sure?") }
        - else
          = link_to _('Resume'), resume_project_runner_path(@project, runner), method: :post, class: 'btn gl-button btn-confirm btn-sm'
        - if runner.belongs_to_one_project?
          = link_to _('Remove runner'), project_runner_path(@project, runner), data: { confirm: _("Are you sure?") }, method: :delete, class: 'btn gl-button btn-danger btn-sm'
        - else
          - runner_project = @project.runner_projects.find_by(runner_id: runner) # rubocop: disable CodeReuse/ActiveRecord
          = link_to _('Disable for this project'), project_runner_project_path(@project, runner_project), data: { confirm: _("Are you sure?") }, method: :delete, class: 'btn gl-button btn-danger btn-sm'
      - elsif runner.project_type?
        = form_for [@project, @project.runner_projects.new] do |f|
          = f.hidden_field :runner_id, value: runner.id
          = f.submit _('Enable for this project'), class: 'btn gl-button btn-sm'
  .float-right
    %small.light
      \##{runner.id}
  - if runner.description.present?
    %p.runner-description
      = runner.description
  - if runner.tags.present?
    %p
      - runner.tags.map(&:name).sort.each do |tag|
        %span.badge.gl-badge.sm.badge-pill.badge-primary
          = tag
